.container {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;

  font-size: 32px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.negativeButton {
  background-color: rgb(216, 100, 100);
  width: 35px;
}
